<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

	<!-- CSS Xterm -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/xterm/5.5.0/xterm.min.css">
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

  <style>
    html, body { height: 100%; margin: 0; }
    #terminal { height: 100vh; width: 100vw; }
  </style>
</head>
<body>

  <div id="terminal"></div>

  <!-- xterm.js UMD -->
  <script src="https://unpkg.com/xterm@5.3.0/lib/xterm.js"></script>

  <!-- addon fit -->
  <script src="https://unpkg.com/xterm-addon-fit@0.7.0/lib/xterm-addon-fit.js"></script>

  <script>
  
	var _application = 'Ekhoes Web Terminal';
	var _version = '1.0.0';
	
    const term = new Terminal({
		cursorBlink: true,
		convertEol: true,

		fontFamily: '"Google Sans Code", monospace',
		//fontSize: 16,          // default: 14
		fontWeight: 'normal',  // o 'bold'
		//fontWeightBold: 'bold',

		theme: {
			foreground: "darkgray",
			cursor: "silver"
		}

    });

    const fit = new FitAddon.FitAddon();
    term.loadAddon(fit);

    term.open(document.getElementById('terminal'));
    fit.fit();

	window.addEventListener('resize', () => {
		//console.log("Resizing...");
		fit.fit();
	})


    // WebSocket
    const socket = new WebSocket(`ws://localhost:9876/ws`);
	
	socket.onmessage = (ev) => {
	
	  try {
		  const jdata = JSON.parse(ev.data);
		  
		  console.log('[websocket]', jdata);
		  
		  printPrompt();
	  } catch(e) {
		term.write(ev.data);
	  }
	};


  let buffer = "";                    // Testo attuale digitato
  const prompt = {{.UserName}} + "@" + {{.Hostname}} + "> ";
  let history = [];                   // Storico comandi
  let historyIndex = -1;              // Indice per navigare nello storico

  function printPrompt() {
    term.write("\r\n" + prompt);
  }

  term.write("\r\n");
  term.write(" **************************************************\r\n");
  term.write("                                                  *\r * " + _application + "\r\n");
  term.write("                                                  *\r * Version " + _version + "\r\n");
  term.write(" * Copyright (c) 2026 Ekhoes Team                 *\r\n");
  term.write(" *                                                *\r\n");
  term.write("                                                  *\r * ekhoes-ctl version " + {{.EkhoesCtlVersion}} + "\r\n");
  term.write(" **************************************************\r\n\r\n");

  if (!{{.Authenticated}}) {
	term.write("Not authenticated. Please, login in on https://www.ekhoes.com\r\n\r\n");
  }
  
  term.write(prompt);

  term.onData(e => {
    const code = e;
	var addToBuffer = true;

    // --- Invio ---
    if (code === "\r") {
      term.write("\r\n");
      if (handleCommand(buffer)) {
		  if (buffer.trim() !== "") {
			history.push(buffer);
		  }	  
	  }

      historyIndex = history.length;
      buffer = "";

      //term.write(prompt);

      return;
    }

    // --- Backspace ---
    if (code === "\u007F") {
      if (buffer.length > 0) {
        buffer = buffer.slice(0, -1);
        term.write("\b \b");
      }
      return;
    }

    // --- Up ---
    if (code === "\x1b[A") {
      if (history.length > 0 && historyIndex > 0) {
        historyIndex--;
        replaceCurrentLine(history[historyIndex]);
      }
      return;
    }

    // --- Down ---
    if (code === "\x1b[B") {
      if (history.length > 0 && historyIndex < history.length - 1) {
        historyIndex++;
        replaceCurrentLine(history[historyIndex]);
      } else {
        historyIndex = history.length;
        replaceCurrentLine("");
      }
      return;
    }
	
	const fromPrompt = term.buffer.active.cursorX - prompt.length;
	
	// Right
    if (code === "\x1b[C") {
	  addToBuffer = false;
	  //console.log('fromPrompt = ', fromPrompt);
	  //console.log('buffer.length = ', buffer.length);
	  
	  if (fromPrompt >= buffer.length)	
		return;
    }
	
	// Left
    if (code === "\x1b[D") {
	  addToBuffer = false;
	  //console.log('fromPrompt = ', fromPrompt);
	  if (fromPrompt == 0)
		return;
    }
	
	

    // --- caratteri normali ---
	
	if (addToBuffer)
		buffer += code;
	
    term.write(code);
  });

function toBase64(str) {
  return btoa(new TextEncoder().encode(str)
    .reduce((acc, byte) => acc + String.fromCharCode(byte), ''));
}

function fromBase64(b64) {
  const binary = atob(b64);
  const bytes = Uint8Array.from(binary, c => c.charCodeAt(0));
  return new TextDecoder().decode(bytes);
}

  //--------------------------------------------------
  // Sostituire la riga corrente con testo nuovo
  //--------------------------------------------------
  function replaceCurrentLine(newText) {
    // Cancella la riga attuale
    // 1) ritorna all'inizio della riga
    term.write("\x1b[2K");      // cancella riga
    term.write("\r" + prompt);  // riscrive prompt

    // 2) mostra nuovo testo
    term.write(newText);
    buffer = newText;
  }

  function handleCommand(cmd) {
    if (cmd.length === 0) return false;

    const parts = cmd.split(" ");
    const action = parts[0];
    //const args = parts.slice(1).join(" ");
    const args = parts.slice(1);
	var rc = true;

    switch (action) {

      case "help":
        term.write("Comandi: help, clear, ekhoes-ctl, history");
        break;

      case "clear":
        term.clear();
        term.write(prompt);
        break;

      case "history":
        history.forEach((h, i) => {
          term.write(`${i + 1}  ${h}\r\n`);
        });
        break;

      case "ekhoes-ctl":
		var payload = {command:action, args:args}
		console.log('[websocket] payload =', payload);
		var data = {
			appId: 'terminal',
			type: 'command',
			payload: toBase64(JSON.stringify(payload))
		};
		socket.send(JSON.stringify(data));
        break;

      default:
        term.write("\r\nUnknown command: " + action);
		rc = false;

    }
	
	return rc;
  }



  </script>

</body>
</html>
